@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}

.main {
  background-image: url("asset/image/backGround.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.6;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  max-width: 90vw;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  height: 62px;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav img {
  width: 150px;
  padding-top: 16px;
  position: relative;
  z-index: 1;
}
.top-left{
    padding-top: 16px;
}

nav button {
  position: relative;
  z-index: 1;
}

.sign_in {
  cursor: pointer;
}
.text {
  font-family: "Martel Sans", sans-serif;
  font-style: normal;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
}
.text > :first-child {
  font-weight: bolder;
  font-size: 47px;
  margin-bottom: 5px;
  text-align: center;
}

.text > :nth-child(2) {
  font-weight: 499;
  font-size: 20px;
  margin-bottom: 28px;
  text-align: center;
}
.text > :nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

.seprate {
  height: 5px;
  background-color: rgb(69 67 67);
  margin: 0;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 0.25rem;
  border: 1px solid white;
  cursor: pointer;
  color: white;
}
.btn-red-si {
  background-color: red;
  color: white;
  border-color: red;
}

.btn-red {
  background: rgb(229, 9, 20);
  color: white;
  padding: 7px 20px;
  font-size: 20px;
  border-radius: 0.25rem;
  border-color: rgb(229, 9, 20);
  font-weight: 400;
}

.main input {
  padding: 14px 129px 12px 16px;
  font-weight: 400;
  font-size: 12px;
  border-radius: 4px;
  color: whitesmoke;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}
.text-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 82vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center; 
    height: calc(80% - 6rem);
    padding-bottom: 3rem;
    padding-top: 3rem;
    /* flex-wrap: wrap; */
}

.secImg{
    position: relative;
}

.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 68px;
    right: 60px;
    height: 237px;
    
}

section.first > div{
    display: flex;
    flex-direction: column;
}

section.first > div :nth-child(1){
    font-size: 2.5rem;
    font-weight: bolder;
    
}

section.first > div :nth-child(2){
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.4rem;
    
}

.faq h2{
    text-align:center;
    font-size: 40px;
    margin-bottom: 0.5rem;
    
}

.faq{
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    
}

.faqbox:hover{
    background-color: rgb(75, 75, 75);
    
}

/* .faqbox svg{
    filter: invert(1);
} */

.faqbox{
    display: flex;
    background-color: rgb(45, 45, 45);
    transition: all 0.5s ease-out;
    font-size: 1.2rem;
    padding: 17px;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.faq p{
    font-size: 15px;
    margin-top: 2.5rem; 
    margin-bottom: 1rem;
}

.faq input{
    padding: 10px 79px 8px 12px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
    color: whitesmoke;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
.faq .btn-red{
    background: rgb(229, 9, 20);
    color: white;
    padding: 7px 8px;
    font-size: 15px;
    border-radius: 0.25rem;
    border-color: rgb(229, 9, 20);
    font-weight: 400;
}

/* FOOTER SECTION */
footer{
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 80vw;
    margin: auto;
    padding: 34px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}

.footer a{
    color: white;
    font-size: 13px;
    font-family: none;
    
}

footer .btn{
    margin: 2rem 0;
}

footer .questions{
    padding: 34px 0;
    font-family: none;
    
    
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.footer-txt{
    font-size: 13px;
}
